.main-class {
  width: 100vw;
  background: rgb(20, 29, 47);
  position: relative;
  overflow-x: hidden;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  top: 0;
}

.vertical-text {
  font-size: 90px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin-right: 5px;
  opacity: 0.8;
  margin-top: -53px;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 128px;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-size: 64px;
  color: #9747FF;
  margin-bottom: 2rem;
}

.cta-btn {
  background: #70E61C;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.cta-btn:hover {
  background: rgb(151, 71, 255);
  transform: scale(+1.3);
}

.glow {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.glow-purple {
  width: 679px;
  top: 53px;
  left: 12px;
  position: absolute;
}


.glow-cyan {
  width: 679px;
  top: 35px;
  right: -84px;
  position: absolute;
}

.main-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
  padding: 0 40px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 32px;
}

.green-line {
  height: 4px;
  width: 100px;
  background: #70E61C;
  border-radius: 4px;
  margin-right: 16px;
  margin-left: -40px;
}

.left-side img {
  width: 32px;
  height: 32px;
  object-fit: contain;
    &:hover{
      filter: drop-shadow(0 0 8px #70e61c);
      transform: scale(1.3);
    }
}

.right-side {
  writing-mode: vertical-lr;
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  user-select: none;
}


@media (max-width: 1700px) {
  h1 {
    font-size: 110px;
  }

  h2 {
    font-size: 54px;
  }

  .vertical-text {
    font-size: 75px;
  }

  .glow-purple,
  .glow-cyan {
    width: 550px;
  }
}

@media (max-width: 1500px) {
  h1 {
    font-size: 95px;
  }

  h2 {
    font-size: 48px;
  }

  .vertical-text {
    font-size: 68px;
  }

  .glow-purple,
  .glow-cyan {
    width: 470px;
  }
}


@media (max-width: 1200px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  .vertical-text {
    font-size: 60px;
  }

  .glow-purple,
  .glow-cyan {
    width: 400px;
  }
}

@media (max-width: 1050px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 32px;
  }

  .vertical-text {
    font-size: 48px;
  }

  .glow-purple,
  .glow-cyan {
    width: 350px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 28px;
  }

  .vertical-text {
    font-size: 38px;
  }

  .glow-purple,
  .glow-cyan {
    width: 250px;
  }

  .main-content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 203px;
    align-items: center;
    overflow: visible
  }

  .main-content-wrapper img {
    padding-top: 133px;
  }

  .vertical-text {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  .vertical-text {
    font-size: 30px;
  }

  .main-row {
    padding-top: 10px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  .vertical-text {
    font-size: 24px;
  }

  .glow-purple,
  .glow-cyan {
    width: 140px;
  }

  .main-row {
    padding-top: 0px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 13px;
  }

  .vertical-text {
    font-size: 16px;
  }

  .glow-purple {
    width: 90px;
    top: 10px;
    left: 0;
  }

  .glow-cyan {
    width: 90px;
    top: 60px;
    right: 0;
  }

}

@media (max-width: 320px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 9px;
  }

  .vertical-text {
    font-size: 10px;
  }

  .glow-purple {
    width: 60px;
    top: 5px;
    left: 0;
  }

  .glow-cyan {
    width: 60px;
    top: 40px;
    right: 0;
  }
}