:host {
    display: block;
    width: 100%;
    overflow-x: hidden; // Verhindert horizontalen Overflow
}

// Stelle sicher, dass alle Sektionen die volle Breite nutzen
app-main,
app-about-me,
app-skills,
app-portfolio,
app-references,
app-contact {
    width: 100%;
    display: block;
    overflow-x: hidden; // Verhindert horizontalen Overflow in Sektionen

    // Responsive Behandlung für sehr kleine Bildschirme
    @media (max-width: 480px) {
        min-width: 0; // Erlaubt Flexibilität bei sehr kleinen Bildschirmen
    }

    @media (max-width: 360px) {
        // Zusätzliche Anpassungen für sehr kleine Bildschirme
        font-size: 14px; // Kleinere Schriftgröße falls nötig
    }

    @media (max-width: 320px) {
        // Anpassungen für die kleinste unterstützte Bildschirmgröße
        font-size: 13px; // Noch kleinere Schriftgröße falls nötig
    }
}


.hero-background[_ngcontent-ng-c1459992026] {
    position: absolute;
    top: clamp(460px, 200vw, 700px);
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 1920px;
    height: 100%; // z.B. oder 30vh
    background: url('./../../../public/assets/img/hero-background2.png') no-repeat center top;
    background-size: contain;
    z-index: 2;
    pointer-events: none;
}

.main-content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    bottom: 373px;
}