@font-face {
  font-family: 'Poppins';
  src: url('./../public/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; 
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(20, 29, 47);
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 20px;
  

  @media (max-width: 480px) {
    padding: 0 15px;
  }
  
  @media (max-width: 360px) {
    padding: 0 10px;
  }
  
  @media (max-width: 320px) {
    padding: 0 8px;
  }
}

app-root {
  width: 100%;
  display: block;
  overflow-x: hidden;
}

.main-content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px; 
  margin: 0 auto;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.glow {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  user-select: none;

}

#about-me,
#skills,
#portfolio,
#contact,
#top {
  scroll-margin-top: 120px;
}